<style>
    table {
    background-color: #fd9;
    }
    tbody {
        background-color: #fff;
        height: 150px;
        overflow: auto;
    }
    td {
        padding: 3px 10px;
    }
    thead > tr, tbody{ display:block;}

    .clicked {
        background: #ccd; 
    }

    .highlight {
        background: #eef;
    }
    .btn {
    border: 2px solid transparent;
    background: #ffffff;
    color: #777;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 75px;
    margin: 0 auto;
    }
    .btn:hover {
    cursor: grab;
    background:#78afc7;
    }

</style>


<!DOCTYPE html>
<!-- <html>
<head>
    <title>google map</title>
    <script src="{{url_for('static', filename='map.js')}}"></script>
</head>
<body>

<h1>My First Google Map</h1>

<div id="googleMap" style="width:100%;height:750px;"></div>

<button onClick="testData()">click me now</button>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOjBlneiz6modsQUWGeGi0sFhXyQgN8pU&callback=myMap"></script>
<script src="{{url_for('static', filename='map.js')}}"></script>
</body>
</html> -->

<html>
<head runat="server">
    <title></title>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        });

        google.charts.setOnLoadCallback(blankChart);

        function blankChart() {

            data = google.visualization.arrayToDataTable([
            ['State', 'dummy'],
            ['', 0],
            ]);

            var options = {};
                options['region'] = 'US';
                options['dataMode'] = 'markers';
                options['resolution'] = 'provinces';
                options['legend'] = 'none';

            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

            chart.draw(data, options);

        }

        function drawRegionsMap(datafunction) {
            fetch("/"+datafunction)
            .then(data => data.json())
            .then(data => {
                console.log(data);
                var data_array = [['State','Status']];
                Object.entries(data).forEach(([key, value]) => {
                    data_array.push([key, value])
                });
                console.log(data_array)
                datatable = google.visualization.arrayToDataTable(data_array);
                var options = {};
                options['region'] = 'US';
                options['colors'] = ['green', 'yellow', 'red']; 
                options['values'] =  [0, 50, 100]
                options['dataMode'] = 'markers';
                options['resolution'] = 'provinces';

                var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

                chart.draw(datatable, options);
            });
        }

        function drawMarkersMap() {
            fetch("/selfreporteddata")
            .then(data => data.json())
            .then(data => {
                console.log(data);
                var i = 0;
                var data_array = [['lat','lng', 'Description', 'votes', 'date', 'abrv', 'record number']];
                Object.entries(data).forEach(([key, value]) => {
                    data_array.push([value[1][0], value[1][1], value[0], value[3], value[2], value[4], value[5]]);
            });
            selfreportedTable(data_array);
            console.log(data_array);

            var geo_data = []

            data_array.forEach((element) => { 
                geo_data.push(element.slice(0,4))
            });

            console.log(geo_data);
            
            datatable = google.visualization.arrayToDataTable(geo_data);
            var options = {
                region: 'US',
                displayMode: 'markers',
                colorAxis: {colors:['black', 'black']},
                sizeAxis: {minSize: 2, maxSize: 4},
                datalessRegionColor: 'transparent',
                backgroundColor: 'transparent',
                legend: 'none'
            };
            var chart = new google.visualization.GeoChart(document.getElementById('self_div'));
            chart.draw(datatable, options);
        });
    }

    function selfreportedTable(data){

        // Find a <table> element with id="myTable":
        var table = document.getElementById("srdtable");
        var tablediv = document.getElementById("srd");
        var btn = document.getElementById("btn")

        var rowCount = table.rows.length;
        var tableHeaderRowCount = 1;
        for (var i = tableHeaderRowCount; i < rowCount; i++) {
                table.deleteRow(tableHeaderRowCount);
        }

        data.slice(1).forEach((element) => { 

            console.log(element);
            // Create an empty <tr> element
            var row = table.insertRow(-1);

            // Insert new cells
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);

            var date = new Date(element[4])

            cell1.innerHTML = element[6];
            cell2.innerHTML = element[2];
            cell3.innerHTML = date.getMonth() + '/' + date.getDate() + '/' + date.getFullYear();
            cell4.innerHTML = element[5];
            cell5.innerHTML = element[3];

        });

        tablediv.style.display = "block";
        btn.style.display = "block";

        tableHighlightRow();

    }

    var selected = null;

    function tableHighlightRow() {
        if (document.getElementById && document.createTextNode) {
            var tables=document.getElementsByTagName('table');
            for ( var i=0; i<tables.length; i++ ) {
                var trs=tables[i].getElementsByTagName('tr');
                for ( var j=0; j<trs.length; j++) {
                if (trs[j].parentNode.nodeName==='TBODY') {
                    trs[j].onmouseover=function(){
                        // 'highlight' color is set in tablelist.css
                        if ( this.className === '') {
                            this.className='highlight';
                        }
                        return false
                    }
                    trs[j].onmouseout=function(){
                        if ( this.className === 'highlight') {
                            this.className='';
                        }
                        return false
                    }
                    trs[j].onmousedown=function(){
                        //
                        // Toggle the selected state of this row
                        // 
                        // 'clicked' color is set in tablelist.css.
                        if ( this.className !== 'clicked' ) {
                            // Clear previous selection
                            if ( selected !== null ) {
                                selected.className='';
                            }
                            // Mark this row as selected
                            this.className='clicked';
                            selected = this;
                            console.log(selected)
                        }
                        else {
                            this.className='';
                            selected = null;
                        }
                        return true
                    }
                }
                }
            }
        }
    }

    function upvote() {
        console.log(selected.getElementsByTagName('td')[0].innerHTML)
        const data_to_upvote = selected.getElementsByTagName('td')[0].innerHTML;
        fetch("/upvote", {
            method: "POST", 
            headers: {
            'Content-Type': 'application/json'
            },
            body: JSON.stringify(data_to_upvote)
        })
        .then(data => data.json())
        .then(data => {
            console.log(data);
            drawMarkersMap();
        })
        // $.ajax({
        //     url:"/upvote",
        //     type:"POST",
        //     contentType:"application/json",
        //     data:JSON.stringify(data_to_upvote)
        // });
    }

    function processForm(e) {
        e.preventDefault();
        console.log(document.getElementById('continuous-select').value);
        console.log(document.getElementById('selfreporteddata').checked);

        continuous = document.getElementById('continuous-select').value;
        selfreported = document.getElementById('selfreporteddata').checked;

        var markers = document.getElementById("self_div");
        var label = document.getElementById("legend_label");
        var button = document.getElementById("btn")
        var tablediv = document.getElementById("srd");

        if (continuous.length>0) {
            google.charts.setOnLoadCallback(drawRegionsMap(continuous));
            label.style.display = "block";
        }
        else{
            label.style.display = "none";
            google.charts.setOnLoadCallback(blankChart())
        }
        if(selfreported){
            markers.style.display = "block";
            google.charts.setOnLoadCallback(drawMarkersMap);
        }
        else{
            markers.style.display = "none";
            tablediv.style.display = "none";
            btn.style.display = "none";
        }
        return true
    }
   </script>
</head>
    <body>
        <div id="regions_div" style="width: 1000px; height: 600px; position: absolute; top: 0px; left: 250px;"></div>

        <div id="self_div" style="width: 1000px; height: 600px; position: absolute; top: 0px; left: 250px;"></div>

        <div id="legend_label" style="position: absolute;top:580px;left:375px; display: none;"><p>Percentile</p></div>

        <div id="srd" style="position: absolute; top: 600px; right:25px; display:none;">
            <table id="srdtable">
            <tr>
              <th>Record Number</th>
              <th>Description</th>
              <th>Date</th>
              <th>State</th>
              <th>Votes</th>
            </tr>
            </table>
        </div>

        <button id="btn" onclick="upvote()" style="position: absolute; top: 760px; right:30px; display: none">Upvote</button>

        <form onsubmit="processForm(event)" style = "position: absolute; top: 650px; left:450px">
            <select name="contdata" id="continuous-select" class="dropdown">
                  <option value="" class="data-field" id="type" name="type">--Select the Type of Data and Dates You Want to See--</option>
                  <option value="water">Water Quality</option>
                  <option value="air">Air Quality</option>
                  <option value="naturaldisasters">Natural Disasters</option>
                  <option value="temperature">Temperature</option>
            </select>
            <input type="checkbox" id="selfreporteddata" name="selfreporteddata">
            <label for="selfreporteddata">Self Reported Data</label>
            <br><br>
            <input type="submit"></button>
        </form>

        <form action="/setDates" method="POST" style = "position: absolute; top: 725px; left:450px">
            <input type="date" class="date-select" value="" placeholder="Start Date" name="startdate">
            <input type="date" class="date-select" value="" placeholder="End Date" name="enddate">
            <br><br>
            <input type="submit" value="Set Dates"></button>
        </form>

        <form action="/dataentry" style="position: absolute; top: 100px; right: 25px;">
            <input type="submit" value="Report an environmental issue/concern"/>
          </form>

        <form action="/logout" style="position: absolute; top: 50px; right: 25px;">
            <input type="submit" value="Logout"/>
          </form>
          
    </body>
</html>
